@model OOAD_G6_najjaci_tim.Models.Racun

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Racun</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdKorisnikSaNalogom" class="control-label"></label>
                <select asp-for="IdKorisnikSaNalogom" class="form-control" asp-items="ViewBag.IdKorisnikSaNalogom"></select>
                <span asp-validation-for="IdKorisnikSaNalogom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojRacuna" class="control-label"></label>
                <input asp-for="BrojRacuna" class="form-control" />
                <span asp-validation-for="BrojRacuna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CSC" class="control-label"></label>
                <input asp-for="CSC" class="form-control" />
                <span asp-validation-for="CSC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumIsteka" class="control-label"></label>
                <input asp-for="DatumIsteka" class="form-control" />
                <span asp-validation-for="DatumIsteka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StanjeRacuna" class="control-label"></label>
                <input asp-for="StanjeRacuna" class="form-control" />
                <span asp-validation-for="StanjeRacuna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
