################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Data/Migrations/00000000000000_CreateIdentitySchema.cs
