@model OOAD_G6_najjaci_tim.Models.Karta

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Karta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdKorisnikSaNalogom" class="control-label"></label>
                <select asp-for="IdKorisnikSaNalogom" class="form-control" asp-items="ViewBag.IdKorisnikSaNalogom"></select>
                <span asp-validation-for="IdKorisnikSaNalogom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFilm" class="control-label"></label>
                <select asp-for="IdFilm" class="form-control" asp-items="ViewBag.IdFilm"></select>
                <span asp-validation-for="IdFilm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRezervacija" class="control-label"></label>
                <select asp-for="IdRezervacija" class="form-control" asp-items="ViewBag.IdRezervacija"></select>
                <span asp-validation-for="IdRezervacija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

